# 前端忽略
frontend/node_modules/
frontend/build/
frontend/.env
# 後端忽略
backend/venv/
backend/__pycache__/
backend/api/__pycache__/
backend/service/__pycache__/
backend/test/__pycache__/
backend/ecommerce-465511-3a8c7b2b3a44.json
backend/*.pyc
backend/.ipynb_checkpoints
backend/.env
backend/etl_fakesoreapi.py
# VSCode 之類設定
.vscode/
.env
.pytest_cache
