flask
flask-cors
requests
psycopg2
flask-jwt-extended
werkzeug 
sqlalchemy
flask-sqlalchemy
flask_caching
flasgger
pytest
dotenv
cloudinary
google-auth
line-bot-sdk
resend
sendgrid
flask_socketio
eventlet
